* {
    margin: 0;
    padding: 0;
    font-family: "Oswald";
}

@font-face {
    font-family: "Oswald";
    src: url("assets/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

:root {
    --main-theme-color: #192bc2;
    --secondaty-theme-color: #449DD1;
    --primary-text-color: white;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.begin-game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-display {
    display: none;
}

button {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-theme-color);
    border: 2px solid var(--main-theme-color);
    border-radius: 20px;
    color: var(--primary-text-color);
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: var(--main-theme-color);
    font-weight: bold;
    border-color: var(--main-theme-color);
}

.game-display {
    height: 100vh;
    gap: 10px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--secondaty-theme-color);
    border-bottom-color: var(--main-theme-color);
    border-radius: 50%;
    display: none;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.rock-paper-scissors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rock-paper-scissors-buttons {
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.rock-paper-scissors-buttons img {
    width: 200px;
    border: 5px solid var(--main-theme-color);
    cursor: pointer;
}

.rock-paper-scissors-game {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.versus {
    display: none;
    font-size: 5rem;
}

.computer-move {
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-size: 10rem;
    border: 5px solid var(--main-theme-color);
}

.computer-move img {
    width: 200px;
    border: 5px solid var(--main-theme-color);
}

.winner {
    display: none;
    font-size: 3rem;
    font-weight: bold;
    color: var(--main-theme-color);
    position: relative;
    bottom: 200px;
}